<?xml version="1.0"?>
<cluster version="3.3.0">
  <peers>
    <peer>10.16.157.24</peer>
    <peer>10.16.157.36</peer>
  </peers>
  <volume>
    <name>scalability-1</name>
    <type>distribute</type> <!-- distribute/replicate/stripe -->
    <count>0</count> <!-- For any other value than type:replica or -->
    <!-- type:stripe this value is ignored -->
    <transport>tcp</transport>
    <exports>
      <!-- Each host can have more than one export dir -->
      <export>
        <host>10.16.157.24</host>
        <dir>/home/scalability-1/dir-1</dir>
        <dir>/home/scalability-1/dir-2</dir>
      </export>
      <export>
        <host>10.16.157.36</host>
        <dir>/home/scalability-1/dir-1</dir>
        <dir>/home/scalability-1/dir-2</dir>
      </export>
    </exports>
  </volume>
  <clients>
    <client host="10.16.157.12">
      <protocol>fuse</protocol> <!-- nfs/fuse -->
      <mnt>/mnt/fuse-2</mnt>
      <mnt>/mnt/fuse-3</mnt>
      <mnt>/mnt/fuse-4</mnt>
    </client>
    <client host="10.16.157.15">
      <protocol>fuse</protocol> <!-- nfs/fuse -->
      <mnt>/mnt/fuse-2</mnt>
      <mnt>/mnt/fuse-3</mnt>
      <mnt>/mnt/fuse-4</mnt>
    </client>
  </clients>
</cluster>
